@font-face {
  font-family: 'Futura PT Bold';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaPT-Bold.woff") format('woff'),
}

@font-face {
  font-family: 'Futura PT Demi';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaPT-Demi.woff") format('woff'),
}

@font-face {
  font-family: 'Futura PT Book';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaPT-Book.woff") format('woff'),
}

@font-face {
  font-family: 'Futura PT Light';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaPT-Light.woff") format('woff'),

}

@font-face {
  font-family: 'Futura PT Medium';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaPT-Medium.woff") format('woff'),

}

@font-face {
  font-family: 'Darkline Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Darkline.woff") format("woff"),
}

@font-face {
  font-family: "VAG World Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/vag-world-bold/vag-world-bold.woff") format("woff"),

}
// end of fonts